<div class="container" style="border:ridge">

<h2>Share a News</h2>

<form [formGroup]="postForm" (submit)="submit()">
  <table>
    <tr>
      <td>Title: </td>
      <td><input type="text" formControlName="title"></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><input type="text" formControlName="description" size="50"></td>
    </tr>
    <tr>
      <td>Photo:</td>
      <td><input type ="file" formControlName="photo" accept="image/*" #file></td>
    </tr>
    <tr>
      <td>Tags:</td>
      <td>
        <input type="text" #tagshtml>
        <!-- add disabled later if can to prevent adding nothing in -->
        <button type="button" (click)="addTag(tagshtml.value)">+</button>
      </td>
    </tr>
    <tr *ngIf="splitTags.length>0">
      <td></td>
      <button type = "button" style="color:red" *ngFor="let i of splitTags; let idx=index" (click)="removeTag(idx)">{{i}}</button>
    </tr>
    <tr>
      <td></td>
      <!-- rmb add home routing later -->
      <td>
        <button [routerLink]="['/home']" type="button">Back</button>
        <button type="submit" [disabled]="!postForm.valid">Post News</button>
      </td>
    </tr>
  </table>
</form>

</div>
